<div class="checker">
  <div  data-controller="clock" class="time-clock">
    <div class="hours">
      <span data-clock-target="hours">00</span>
    </div>
      <span>:</span>
    <div class="minutes">
      <span data-clock-target="minutes">00</span>
      
    </div>
      <span>:</span>
    <div class="seconds" >
      <span data-clock-target="seconds">00</span>
      
    </div>
  </div>


  <div class="subscribe-form checker-main">
    <%= form_with url:'/', method: 'post' do |form| %>
      <div class="text-center">
          <div class="checker-text-field">
            <%= form.text_field :id_employee, class: 'form-control', placeholder:'Enter id employee'%>
          </div>
        <%= button_tag type: 'submit',class: "btn btn-secondary", id: "id_employee" do %>
          Check
          <span>
            <i class="fa-sharp fa-solid fa-door-open"></i>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>