<%= form_with url:'/', method: 'post' do |form| %>
  
  <div>
    <%= form.label :id_employee, 'Enter id employee'%>
    <br>
    <%= form.text_field :id_employee %>
  </div>
  <br>
  <%= form.submit 'Check' %>
<% end %>
